@import url('https://fonts.googleapis.com/css?family=Comfortaa');

* {
    font-family: 'Comfortaa', cursive;
}
html,body {
    height: 100%;
}


body{
    background-color: #acb6bf;
}
.container{
    background-color: #c8d2d2;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.movie {
    width: 100%;
    height: 100%;
    object-fit: cover ;
}
.movie-tile{
    width: 240px;
    height: 370px;
}
.figure-caption{
    max-width: 270px;
}
#reviews{
    clear: both;
}
.form-container{
    max-width: 400px;
}
.form-section{
    margin-top: 42%
}