<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html::head">
</head>
<body>
<nav th:replace="fragments/layout.html::navigation"></nav>
<article class="container p-4">
    <th:block th:with="colCount=${4}" th:if="${not #lists.isEmpty(results)}">
        <div th:each="r : ${#numbers.sequence(0, results.size(), colCount)}" class="row my-4">
            <div th:each="c : ${#numbers.sequence(0, colCount - 1)}" class="col-xl-3 col-md-6">

                <div class="d-flex justify-content-center" th:if="${r + c < results.size()}"
                     th:with="movie = ${results.get(r + c)}">
                    <a th:href="@{'/movie/'+ ${movie.getImdbID()}}">
                        <figure class="figure movie-tile">
                            <img th:src="*{movie.getPoster()}" class="figure-img img-fluid rounded movie"
                                 alt="Poster should be here">
                        </figure>
                        <figcaption class="figure-caption" th:text="*{movie.getTitle() +'('+ movie.getYear()+')'}">
                        </figcaption>
                    </a>
                </div>
                <div th:unless="${r + c < results.size()}">
                </div>
            </div>
        </div>
    </th:block>
    <div class="container text-center" th:unless="${not #lists.isEmpty(results)}">
        <h1 class="display-4">Brak wyników ;-;</h1>
    </div>
</article>
</body>
</html>