<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Wyszukiwanie</title>
</head>
<body>
<ul th:each="movie : ${results}">
    <li>
        <div>
            <img th:src="*{movie.getPoster()}" width="150" height="222"/>
            <a th:text="*{movie.getTitle()}" th:href="@{/movie(id=*{movie.getImdbID()})}"></a>
            <span th:text="*{movie.getYear()}"></span>
        </div>
    </li>
</ul>
</body>
</html>