<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script th:inline="javascript">
        const path = /*[[@{'/movie/'+${movie.getImdbID()}+'/follow'}]]*/ '';
    </script>
    <div th:replace="fragments/layout.html::head"></div>
    <script th:src="@{/js/follow.js}" src="../static/js/follow.js"></script>
    <title th:text="${movie.getTitle()}"></title>
</head>
<body>
<nav th:replace="fragments/layout.html::navigation"></nav>
<div class="container h-100 p-4">
    <div class="container" th:object="${movie}">

        <img class="figure-img img-fluid rounded float-left mr-3" id="poster" alt="poster could not load"
             th:src="*{getPoster()}">

        <header>
            <h1 th:text="*{title}"></h1>
            <h2 th:text="*{getYear()}"></h2>
        </header>
        <section>
            <p th:text="*{plot}"></p>
        </section>
        <div id="rankings">
            <label>
                IMDB rating:
                <span th:text="*{imdbRating}"></span>
            </label>
            <label>
                Filmoteka rating:
                <span th:text="${#numbers.formatDecimal(avgRating,1,2)}"></span>
            </label>
        </div>
        <div class="m-5">
            <button sec:authorize="isAuthenticated()" class="btn btn-primary" id="follow-btn">
                <i id="follow-icon" class="far fa-heart"></i><span id="follow-text"> Obserwuj</span>
            </button>
        </div>
    </div>
    <fieldset class="form-group" id="reviews">
        <!--/*@thymesVar id="review" type="lipamar.filmoteka.domain.review.Review"*/-->
        <form sec:authorize="isAuthenticated()" method="POST" th:action="@{'/movie/'+ ${movie.getImdbID()}}"
              th:object="${review}">
            <div>
                <label for="rate">Ocena:</label>
                <input class="form-control my-1" style="max-width: 100px;" id="rate" type="number" min="1" max="10"
                       th:field="*{rate}">
            </div>
            <textarea class="form-control my-1" placeholder="Napisz co myślisz o filmie"
                      th:field="*{content}"></textarea>

            <button class="btn btn-secondary my-1" type="submit">Wyślij</button>
        </form>
        <div sec:authorize="!isAuthenticated()">
            <p><a th:href="@{/register}">Zarejestruj</a> lub <a th:href="@{/login}">zaloguj</a> się, aby móc dodawać
                własne
                recenzje!</p>
        </div>
    </fieldset>
    <section class="container">
        <ul th:each="comment:${reviews}">
            <li class="bg-light p-2">
                <p>
                    <span class="float-left px-2" th:text="'Ocena: '+*{comment.rate}"></span><br>
                    <span class="float-right px-2" th:text="'Data: '+*{#dates.format(comment.date,'dd/MM/yyyy')}"></span>
                </p>
                <p th:text="'Komentarz: '+*{comment.content}"></p>
            </li>
        </ul>
    </section>
</div>
<footer th:replace="fragments/layout.html::footer"></footer>
</body>
</html>