<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${movie.getTitle()}"></title>
</head>
<body>
<div th:object="${movie}">
    <div class="poster">
        <img alt="poster could not load" th:src="*{posterUrl}" width="300" height="444">
    </div>
    <span>
            <span th:text="*{title}"></span>
            <span th:text="'('+*{productionYear}+')'"></span>
        </span>
    <div>
        <p th:text="*{plot}"></p>
    </div>
    <div>
        <label>
            IMDB rating:
            <span th:text="*{imdbRating}"></span>
        </label>
        <label>
            Filmoteka rating:
            <span th:text="${#numbers.formatDecimal(avg,1,2)}"></span>
        </label>
    </div>
</div>
<!--/*@thymesVar id="review" type="lipamar.filmoteka.data.entities.Review"*/-->
<form sec:authorize="isAuthenticated()" method="POST" th:action="@{'/movie/'+ ${movie.getId()}}" th:object="${review}">
    <div>
        <label>Ocena:</label>
        <input type="number" min="1" max="10" th:field="*{rate}">
    </div>
    <textarea th:field="*{content}"></textarea>

    <input type="submit">
</form>
<div sec:authorize="!isAuthenticated()">
    <p><a th:href="@{/register}">Zarejestruj</a> lub <a th:href="@{/login}">zaloguj</a> się, aby móc dodawać własne recenzje!</p>
</div>
<div>
    <ul th:each="comment:${reviews}">
        <li>
            <span th:text="'Ocena: '+*{comment.rate}"></span><br>
            <span th:text="'Data: '+*{#dates.format(comment.date,'dd/MM/yyyy')}"></span><br>
            <span th:text="*{comment.content}"></span><br>
        </li>
    </ul>
</div>
</body>
</html>